<template>

  <v-container v-if="loading">
    <div class="text-xs-center">
        <v-progress-circular
          indeterminate
          :size="150"
          :width="8"
          color=#fd8224>
        </v-progress-circular>
      </div>
  </v-container>

  <v-container v-else>
    <v-layout wrap>
      <v-flex xs12 mr-1 ml-1>
        <v-card>
          <v-img
            :src="singleMovie.Poster"
            aspect-ratio="2"
          ></v-img>
          <v-card-title primary-title>
            <div>
              <h2 class="headline mb-0">{{singleMovie.Title}}</h2>
              <p>{{ singleMovie.Plot}}</p>
              <h3>Actores:</h3>{{singleMovie.Actors}}
               <h4>Premios:</h4> {{singleMovie.Awards}}
               <h4>Género:</h4> {{singleMovie.Genre}}
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color=#fd8224 @click="back">Volver</v-btn>
          </v-card-actions>
          <v-card-actions>
            <v-btn flat color=#fd8224 @click="addFavs">Añadir a favoritos</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
import movieApi from '@/services/MovieApi'
export default {
  props: ['id'],

  data () {
    return {
      singleMovie: '',
      dialog: false,
      loading: true
    }
  },

  mounted () {
    movieApi.fetchSingleMovie(this.id)
      .then(response => {
        this.singleMovie = response
        this.loading = false
      })
      .catch(error => {
        console.log(error)
      })
  },
  methods: {
    back () {
      this.$router.push('/')
    },
    addFavs () {

    }
  }
}

</script>

<style lang="stylus" scoped>
  .v-progress-circular
    margin: 1rem
</style>
